.cart-container { 
    background: linear-gradient(135deg, rgba(24, 24, 24, 0.8), rgba(255, 87, 34, 0.8)), url('../images/background.jpg') no-repeat center;
    background-size: cover;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    position: relative; 
}

.cart-heading {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
    color: #fff;
}

.cart-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px; 
    border-bottom: 1px solid #444; 
}

.item-name {
    font-weight: bold;
    color: #fff;
    flex: 2; 
    text-align: left; 
}

.item-quantity {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 10px;
    flex: 1; 
}

.btn-quantity {
    background-color: #ff5722;
    color: #fff;
    padding: 8px 12px;
    border: none;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    width: 30px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-quantity:hover {
    background-color: #e64a19;
}

.quantity-display {
    font-size: 1.2rem;
    width: 60px; 
    text-align: center;
}

.item-price {
    font-size: 1.2rem;
    color: #ff5722; 
}

.total-price {
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: #fff;
}

.cart-buy-now-button {
    background-color: #ff5722;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    display: block;
    margin: 10px;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.cart-buy-now-button:hover {
    background-color: #e64a19;
    transform: scale(1.01);
}

.cart-buy-now-button.hidden {
    display: none;
}
