.cart-button {
    position: fixed;
    top: 20px; 
    right: 30px;
    position: absolute;
    z-index: 1000; 
    display: flex;
    align-items: center;
    background-color: rgb(255, 102, 0); 
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: none;
    text-decoration: none;
}

.cart-button .fas {
    font-size: 24px; 
    color: white; 
    align-items: center;
}

.cart-badge {
    background-color: white;
    color: rgb(255, 102, 0);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    top: -10px;
    right: -10px;
    text-decoration: none;
}
